
@media screen and (min-width: 690px) {
    .projects_wrapper_1, .projects_wrapper_2 {
        display: flex;
       width: 100%; 
}
    
    .projects {
        width: 50%;
        margin: 0px 20px;
        }
    
    #name_title {
        font-size: 40px;
    }

    #name_subtitle {
        font-size: 25px;
    }

    .section_title {
        font-size: 40px;
        margin-top: 25px;
    }

    .paragraph_title,
    .paragraph_title_about {
        font-size: 30px;
    }

    .paragraph_title_about {
        text-align: left;
    }
    .about_me_wrapper {
        display: flex;
    }
    
    .project_img {
    border-radius: 5px;
    }
}

@media screen and (min-width: 1000px) {
    html {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .header_background img,
    #nav_box {
        border-radius: 5px;
    }

    footer {
        border-radius: 5px 5px 0px 0px;
    }

}
